<nav class="nav">
	<ul class="right-nav">
		<li class="right-nav__items"><a class="right-nav__item" href="#">ABOUT GOFT</a></li>
		<li class="right-nav__items"><a class="right-nav__item" href="#">TECHNOLOGIES</a></li>
		<li class="right-nav__items"><a class="right-nav__item" href="#">ACTUALS</a></li>
	</ul>
	<ul class="left-nav">
		<li class="left-nav__items"><a class="left-nav__item" href="#">WHERE TO BUY</a></li>
		<li class="left-nav__items"><a class="left-nav__item" href="#">CONTACTS</a></li>
	</ul>
</nav>