<section class="slider-block slider-block_is-active">
	<div class="title title_short">
		<div class="title__right-line"></div>
		<div class="title__name">Jewelry</div>
		<div class="title__left-line"></div>
	</div>
	<div class="slider-adaptive">
		<div class="slider">
			<div class="slider__preview"><img id="10" class="slider__img" src="./img/product10.jpg" alt=""></div>
			<div class="slider__controls">
				<div class="navigation">
					<button class="btn-nav navigation__prev"></button>
					<p class="navigation__slide-number">10</p>
					<button class="btn-nav navigation__next"></button>
				</div>
				<button class="slider-close"></button>
			</div>
		</div>
	</div>
</section>